@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger mt-2">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<div class="alert alert-danger">
    <p>
        The developer is notified and will work on it soon, please be calm,
        click on the link for now to navigate to the home page.<i class="oi oi-arrow-bottom" style="width:40px;"></i>
    </p>
</div>

<a asp-page="/Index" class="btn btn-primary w-100">
    Click the link to go back home
    <i class="oi oi-home"></i>
</a>

