@page
@model CustomerAndAgentManagementSystem.UI.Pages.JavaScriptPractice.IndexModel
@{
    ViewData["Title"] = "JavaScript Practice";
}

<h2 class="mt-2">
    JavaScript Practice
</h2>


<button>Click me!</button><br />
<br />
<div id="customDiv"></div>


